body 	{ 
		background-color: #D3D3D3 ;
		background-size: cover;
	}
.favoriteButton	{  
    cursor:pointer;
    display:block;
    background-image:url('../images/star1.png');
    float: right;
}
	
.image {
	float:left;
	width: 200px;
	margin: 0 3px 0 0;
}

.mainDiv {		
				    top: 30px;
					position:relative;
					width: 80%;
					border: solid 3px #ffffff; 
					margin: 0 10% 0 10%;
					padding: 1%;
		}
.header {
    height:20px;
    background:#F0F0F0;
    position:relative;
    border: solid 3px #ffffff; 
    width: 80%;
    margin: 0 10% 0 10%;
    top: 1px;
    font: 12pt sans-serif; 
}